.navbar-shrink nav {
    --navbar-top: 60px;
}

nav {
    top: 0;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    top: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    margin-left: 48px;
    color: var(--second-text-color, #737373);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    transition: 0.5s;
}

.nav-menu-btn {
    display: none;
}

#navbar-responsive {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.5s;
    background-color: green;
}

.res-nav-item {
    padding: 10px;
    font-size: 25px;
}

.res-nav-link {
    color: white;
}

.navbar-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.navbar-close img {
    width: 40px;
}

.nav-item a:hover {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}